:root {
  --main-family: 'Inter', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --third-family: 'Poppins', sans-serif;
  --primary-color: #1A1A1A;
  --secondary-color: #FFFFFF;
  --accent-color: linear-gradient(308deg, #a7f306 0%, #f3cd06 100%);
}

.container {
  max-width: 1340px;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-family);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 120px;
  letter-spacing: 0.01em;
  text-align: center;
  background: linear-gradient(91deg, #fff 0%, rgba(255, 255, 255, 0.3) 49.48%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  background: var(--accent-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}